<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>mvPlayerDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>79C2F0241C06D87F008581EA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>79C2F03D1C06D87F008581EA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>79C2F0481C06D87F008581EA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
